name: Run Process Templates

on:
  schedule:
    - cron: '0 22 * * *'  # 北京时间每天早上6点执行
  workflow_dispatch:  # 手动触发

permissions:
  contents: write

jobs:
  update_templates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Git Identity
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"  

      - name: Delete Result Folder
        run: |
          if [ -d "result/" ]; then
            rm -rf result/
            git rm -r --cached result/
            git commit -m "Delete Result folder"
            git push
          else
            echo "result/ directory not found, skipping deletion"
          fi
        env:
          PAT: ${{ secrets.GITHUBS_TOKEN }}

      - name: Create Result directory
        run: mkdir -p result    

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'  # 指定 PHP 版本，根据您的需求选择适当的版本

      - name: List directory contents before execution
        run: |
          echo "Listing root directory"
          ls -R
          echo "Listing ip directory"
          ls -R ip
          echo "Listing template directory"
          ls -R template
          echo "Listing result directory (should be empty initially)"
          ls -R result || echo "result directory is empty"

      - name: Execute PHP script
        run: php update_templates.php

      - name: List result directory contents after execution
        run: |
          echo "Listing result directory after script execution"
          ls -R result
          echo "Content of result/Fujian_114.txt"
          cat result/Fujian_114.txt
          echo "Content of result/Henan_327.txt"
          cat result/Henan_327.txt

      - name: Configure git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Commit and push changes
        run: |
          git add result/*
          git status
          git commit -m "Update result files" || echo "No changes to commit"
          git push
        env:
          PAT: ${{ secrets.GITHUBS_TOKEN }}
